@{
    ViewBag.Title = "Home Page";
}

<head>


 
  
    <link href="~/Content/CSS/homepage.css" rel="stylesheet" />


</head>

<div class="jumbotron">
    <h1>Explore Our National Parks</h1>
    
    <p><a href="~/Home/AllParks/" class="btn btn-primary btn-lg">See All Parks &raquo;</a></p>
</div>

<div> </div>
