body {
    background-image: url('../../Content/Weather/mtleconte.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: center;
}

.main {
    margin-top: 75px;
}

h1, h2 {
    font-weight: bold;
}

.item {
    color: beige;
}
